[2020-10-02 17:16] justinsalamon commented on #1
Regarding data formats, I just remembered I started putting down some ideas for that here:
https://github.com/justinsalamon/envsoundata/blob/0137918f5b1d76783d1cf5ca8df90288e2fb4b07/docs/source/datasets.rst

There I've divided datasets into 4 categories: asc, sec, sed_strong, and sed_weak. Perhaps it'd make sense to create an issue specifically for this and continue discussing that there?

[2020-10-08 15:12] magdalenafuentes commented on #1
**+1** to the idea of dropping target datasets in the table to identify what data types are needed in terms of annotation types, metadata and audio (mono, multitrack).

Some more thoughts on this:

- Also learning from `mirdata` we should think the design of indexes to support versions.
- Scaling: how can we support big datasets, e.g. [`FSD50K`](https://arxiv.org/pdf/2010.00475.pdf)?
- Should we c

[2020-10-19 17:36] magdalenafuentes opened #2 "Multiple data-loaders libraries vs. one that fits them all"
There's an ongoing discussion with @nkundiushuti in the context of `mirdata` of whether we should have two separate repositories (i.e. `mirdata` and `dcasedata`) for common loaders or if we should have the loaders in the same place. I open the issue here so we brainstorm the advantages of both approaches.

I think it makes sense to have to separate repos for the following reasons: 1) the repos sho

[2020-10-20 00:14] justinsalamon commented on #2
This is a good topic of discussion and you raise many good points. Overall, I agree with you about the benefits of having two separate repositories, for all the reasons you've mentioned.

I also think there's a serious risk of letting "perfect" be the enemy of "good", in this case perfect being striving for a single unified library, which would prevent us from making meaningful progress on this li

[2020-10-20 00:26] magdalenafuentes commented on #2
Agree 100%

Also, we're engineering a few heavy API changes in `mirdata` which simplifie code a lot and fix issues on big datasets. IMO we should get this repo sync to that and then each project should move independently

[2020-10-20 00:35] justinsalamon commented on #2
Sounds good to me.

Perhaps we can close this issue out (for now, we can always re-open if need be) - do you want to open a new issue to highlight the changes in `mirdata` and discuss a plan for porting these changes over here?

[2020-10-20 09:21] nkundiushuti commented on #2
hey! we plan to put the loader for freesound dataset somewhere so I have a few questions. for us it would be easier if freesound would sit in mirdata. I don't think we should hurry to have a new repo just as a "politics" decision (what would be the politics behind this decision? another paper? what's the point of having 10 tools for doing the same thing with slight variations?). in our case, we de

[2020-10-20 10:42] pzinemanas commented on #2
Hi! I agree with Magda and Justin. Maybe I'm still an outsider, but I don't see the political issue. I think that the main motivation is to keep these tools useful for the communities. In this sense, the DCASE community is now independent from the MIR community. There are many people, groups and companies that work on environmental sounds and not in music-related problems. These people could colla

[2020-10-20 14:55] magdalenafuentes commented on #2
I see it as a practical issue rather than a political one. Keeping the two repositories separated will allow for moving faster in each project independently and for more flexibility to address field-specific idiosyncrasies IMO. At least it is what makes sense to me now. We can always make changes in the future if we conclude something else is better.

When I mentioned the heavy changes I meant the

[2020-10-20 20:55] justinsalamon commented on #2
Thanks everyone, sounds like we're mostly in agreement so let's move forward with the current plan of two separate repos.

@nkundiushuti I appreciate the points you have raised, but I believe the pros of having 2 repos outweigh the cons here.

Closing this one out. @magdalenafuentes let's open a separate issue about pulling the upstream improvements from mirdata over here. Cheers everyone!

[2020-10-20 20:56] #2 closed

[2020-11-02 13:40] pzinemanas commented on #1
Hi! I've been trying to use mirdata in the context of DCASE-models. I think it will be easy to integrate soundata (envsoundata) in DCASE-models. For now I consider two features that will simplify this integration:

- It would be nice to directly access to general metadata of the dataset: i.e fold list, label list, path to the audio files, default sampling rate, audio codec.

- Besides, it would be

[2020-11-03 13:02] magdalenafuentes commented on #1
Hola!

It should be easy to access the metadata both at the `dataset` and `track-clip` level. Things like the `audiopath` or `sampling rate` are defined at the `track` level in `mirdata`, and other such as `bibtex` will be define as metadata at the `dataset` level (see PR #296). We could add fold list or others that make sense at the dataset level. So far we've made those decisions taking into acc

[2021-03-02 00:29] magdalenafuentes commented on #1
Long time no see! Go ahead, I'll migrate the last changes from `mirdata` next week and we can go from that

[2021-03-02 20:01] justinsalamon opened #1 "Setting up local testing"
To run the tests locally using `tox`, one needs to first install:
* `pip install pytest`
* `pip install DALI-dataset`
* `pip install pytest-localserver`
* `pip install pytest-mock`

Without these, the tests fail in multiple places. We may want to add an option to setup.py to install the test dependencies as well.

The exception is the DALI dependency that'll go away once we remove the dataset from

[2021-03-05 19:29] magdalenafuentes opened #7 "Update jams tests to make sense for environmental data"
Right now `test_jams_utils` is testing things such as `chords` or `notes`, we should update the tests to check things that make sense in the context of DCASE.

@justinsalamon what is the common usage of jams in this context? e.g. which name spaces besides `metadata`?

[2021-03-05 19:31] magdalenafuentes opened #8 "Update tests for testing loaders"
Once we have at least two dataset loaders in place, we should uncomment and update tests in `test_core.py` and `test_initialize.py`

[2021-03-05 19:32] magdalenafuentes opened #9 "Remove optional dependencies inherited from mirdata"
E.g. `dali`

[2021-03-05 19:33] magdalenafuentes opened #10 "Developer setup not working"
I tried to set up a new environment following [this instructions](https://mirdata.readthedocs.io/en/latest/source/contributing.html?highlight=black#installing-mirdata-for-development-purposes) and the `pip install .[tests]` didn't work for me. Double check if that's the case with other people and if so fix it.

[2021-03-05 19:35] magdalenafuentes opened #11 "Black formatting not so clear in the tutorial"
Shouldn't it be install at the same time that other tests in [this instructions](https://mirdata.readthedocs.io/en/latest/source/contributing.html?highlight=black#installing-mirdata-for-development-purposes)?

[2021-03-05 19:38] magdalenafuentes opened #12 "Adding SONYC-UST 2.3 loader"
[SONYC-UST](https://zenodo.org/record/3693077#.YEKINHdKhUI) sounds like a good candidate for one of the first loaders in `soundata`

[2021-03-08 21:29] justinsalamon opened #16 "ESC-50 loader"

[2021-03-08 21:30] justinsalamon commented on #16
cf #15

[2021-03-08 21:30] justinsalamon opened #17 "URBAN-SED loader"

[2021-03-08 21:31] justinsalamon opened #18 "PR template refers to music"
One of the checkpoints is:
[code]

Let's update it to:
[code]

If there are any other music-specific terms in the template, let's update those too

[2021-03-09 18:46] justinsalamon commented on #7
For most datasets I think we'd end up using something like `tag_open` and whatever the equivalent is for event with start/end times and an open label vocabulary.

Scaper has it's own namespace, `scaper`, so for example datasets that were generated by Scaper in the first place like URBAN-SED and that include JAMS files in their release, could have `to_jams` directly load and return the scaper JAMS

[2021-03-09 18:47] justinsalamon commented on #8
We'll have 2 datasets once we merge #15 , 3 once we merge #19  :)

[2021-03-09 18:48] justinsalamon commented on #10
Cross referencing with #1

[2021-03-09 18:48] justinsalamon commented on #11
Yes, cf. #1 #10

[2021-03-09 22:12] magdalenafuentes opened #20 "Test and docs setup not working"
In the `contributing` instructions, these steps are not working for me:
[code]

It would be great if someone can check that too

[2021-03-09 22:13] #20 closed, assigned to nobody

[2021-03-12 18:52] magdalenafuentes opened #22 "Big picture and generators: e.g. Train/validate + splits API"
We need a uniform API to handle splits. Most datasets have either folds or train/val/test spits, and it should be easy for the user get them. Right now in `urbansound8k` and `esc50` we have the properties `fold` and `split`, and if we wanna get the full list of clips we have to go through them one by one.

We should either create a function at the level of the dataset that gets those for each data

[2021-03-13 01:58] justinsalamon commented on #17
Added in #19

[2021-03-13 01:58] #17 closed, assigned to justinsalamon

[2021-03-13 01:58] justinsalamon commented on #16
Added by #15

[2021-03-13 01:58] #16 closed, assigned to justinsalamon

[2021-03-13 02:08] justinsalamon opened #27 "Update partial download section in the tutorial"
Right now we don't have any datasets with more than 1 remote, so I've commented out the section about partial downloads. Once we add such a dataset, we should uncomment and update this section in the docs.

https://soundata.readthedocs.io/en/salamon-docs/source/tutorial.html#partially-downloading-a-dataset

[2021-03-15 16:29] magdalenafuentes commented on #22
Also it should be easy to navigate dataset-level annotations in case the user wants to e.g. get some stats on the entire dataset

[2021-03-15 16:40] magdalenafuentes opened #31 "How are we gonna handle multiple annotators ?"
I started writing the loader of `sonyc_ust` which has multiple annotators for each file, and binary labels for a set of classes. I was wondering how do we wanna handle this. I have some ideas but I'm happy to hear what others think:

For the binary labels, since the dataset has a defined taxonomy, I'm gonna get the vector `[0, 1, 0, ... ,1]` corresponding to activations of the different classes `[

[2021-03-15 17:21] mcartwright commented on #31
Yeah, I think the new type would be better since it's clearer what's going on. I fear without being explicit people might misinterpret the data before digging into the specifics.

[2021-03-15 17:27] mcartwright commented on #31
Eventually it would be great to add in some built-in aggregators so the code for those processes are standardized for datasets with multiple annotators per example. (if this is of interest to soundata folks, i could potentially contribute here. happy to discuss more...)

[2021-03-15 17:37] magdalenafuentes commented on #31
Yes, I agree with the aggregators, is related to #22. Definitely makes sense for you to give input/contribute!

[2021-03-15 21:21] justinsalamon commented on #31
Thanks for the great discussion.

I agree that it would be better to have a new structure here rather than overloading `clip.tags`, i.e. @magdalenafuentes 's option 2 over option 1.

We should think this carefully to come up with a good API for this. For example, we could:
1. Have 1 structure for multiple annotations, like in the example for option 2, that can hold either Tags or Events annotation

[2021-03-15 21:50] justinsalamon commented on #31
...and I just thought of a 3rd option :)

We could, alternatively, use the **same** structure both for single and multi annotations. In this case a single annotation would just be a special case of of a multi annotation that has just 1 annotator.

In this case we could directly change the semantics of `clip.tags` and `clip.events` such that they always contain a list. This would have the advantage

[2021-03-16 09:42] genisplaja opened #32 "Adding FSD50K dataset"
Hello everyone,

I am implementing a loader for the [FSD50K dataset](https://zenodo.org/record/4060432#.YE98vbRKi3I). Looking forward to contributing to `soundata`!!

[2021-03-16 11:47] pzinemanas opened #33 "Adding TUT Sound events 2017 loader"
Hello!

I'm working on a loader for TUT Sound events 2017 (both [development](https://zenodo.org/record/814831#.YFCKjPtKhNg) and [evaluation](https://zenodo.org/record/1040179#.YFCMVvtKhNg) datasets). This dataset was used in the [Task 3](http://dcase.community/challenge2017/task-sound-event-detection-in-real-life-audio) of the DCASE challenge 2017.

[2021-03-16 13:04] magdalenafuentes commented on #31
I was thinking of a `type agnostic` solution (i.e. 1. have one structure for multiple annotations). I think is cleaner and we can test it to be consistent within each loader (similarly to how we test annotations now, that we check expected type). Also we document one annotation structure only instead of duplicating docs for all of them.

I like the 3rd option in the sense that unifies things, but

[2021-03-16 19:01] justinsalamon commented on #22
Agreed on all points.

First question - would it make sense to use the ClipGroup class for representing splits/folds? On the one hand it has relevant features like listing all the clips that belong to it, on the other hand it represents a group of clips that could be mixed and is itself a Clip, which is less suitable.

Thoughts?

[2021-03-16 19:08] #8 closed, assigned to nobody

[2021-03-16 19:14] #9 closed, assigned to nobody

[2021-03-16 19:14] #18 closed, assigned to magdalenafuentes

[2021-03-16 19:32] justinsalamon commented on #32
Awesome! Great to have you on board @genisplaja !

Please
* Develop on a new branch, e.g. `genisplaja/fsd50k`
* Open a PR as soon as you've made some commits, so that we can use the PR's conversation tab for comments/discussion. Please don't wait until the loader is ready before opening the PR
* Please use the [new loader template](https://github.com/soundata/soundata/blob/master/.github/PULL_REQU

[2021-03-16 19:34] justinsalamon commented on #33
Fantastic, thank you @pzinemanas !

Please
* Develop on a new branch, e.g. `pzinemanas/tut2017`
* Open a PR as soon as you've made some commits, so that we can use the PR's conversation tab for comments/discussion. Please don't wait until the loader is ready before opening the PR
* Please use the [new loader template](https://github.com/soundata/soundata/blob/master/.github/PULL_REQUEST_TEMPLATE/n

[2021-03-16 19:38] justinsalamon commented on #32
p.s. - you can save time (and commits) but running the unit tests locally before committing/pushing, by calling `tox -e py37`. Also please remember to run `black soundata` to ensure the code is well formatted before pushing. CC @pzinemanas

[2021-03-16 19:45] justinsalamon commented on #31
@magdalenafuentes that sounds reasonable to me, but... imagine a clip that has both multiple tag annotations and multiple events annotations. If we store all of them in the same `multi_annotator` field, we'd be mixing annotation types, which is different in terms of API design to having separate `clip.tags` and `clip.events`.

Now that I think about it, this makes the design of option 1 a little p

[2021-03-16 20:00] magdalenafuentes commented on #31
Yeah, I see your point. What about then using the `clip.tags` and `clip.events` but returning a `Multiple_Annotators` object?

Good: it would be flexible and we can easily test and extend to other annotation types, plus still very clear when we have multiple annotators. Bad: in some cases `clip.tags` will be type `annotation.Tags`, and others will be `annotations.Multi_Annotator` type.

I'm ok wit

[2021-03-16 21:01] mrocamora opened #35 "Update python versions in Contributing"
The Contributing section does not mention Python 3.8.

"You will want to install the latest versions of Python 3.6 and 3.7."

[2021-03-17 18:17] justinsalamon commented on #31
@magdalenafuentes IIUC that's the same as my option 3, no?

As you propose for datasets with multiple annotators we return some form of `multi_annotator` object, and for datasets with just one annotator we directly return the annotation object (Tags or Events). Under the hood we could implement this such that even just 1 annotation is stored in the multi object, but the clip knows if it has mutipl

[2021-03-17 18:32] justinsalamon commented on #35
Addressing in #26. Note the entire `contributing.rst` doc needs to be revamped, will do as part of #26.

[2021-03-17 18:44] magdalenafuentes commented on #31
Yes! It's basically your `option 3` but as you mention now I also prefer not to return always a list, instead return different things depending on the case.

We agree that the user interface should be simple, so if only one annotation is available you directly get `Tags` or `Events`.
 The remaining question is what is the clearer thing to do from a contributor point of view. Is it to always have a

[2021-03-17 21:16] justinsalamon commented on #31
OK cool!

I would opt for sticking with the current simple format for single annotator, i.e. when there's just one annotation you don't need to indicate speaker ID or anything, everything works as it does now and is transparent to the user.

When there are multiple annotations, then we need to decide what structure we return to the user. It could be:
* A list of tuples `[(annotation1, annotator_id

[2021-03-23 15:45] pzinemanas opened #38 "Adding TAU Urban Acoustic Scenes 2019 loader"
I'm working on a loader for TAU Urban Acoustic Scenes 2019 ([development](https://zenodo.org/record/2589280), [leaderboard](https://zenodo.org/record/2672993) end [evaluation](https://zenodo.org/record/3063822) subsets). This dataset was used in the [Task 1 - subtask A](http://dcase.community/challenge2019/task-acoustic-scene-classification#description) of the DCASE challenge 2019.

[2021-03-23 22:18] justinsalamon opened #40 "Add LibriSpeech dataset"
https://www.openslr.org/12

[2021-03-24 10:49] pzinemanas opened #41 "Adding TAU Urban Acoustic Scenes 2020 Mobile"
[Development](https://zenodo.org/record/3819968) and [Evaluation](https://zenodo.org/record/3685828) datasets.

[2021-03-24 21:41] justinsalamon commented on #7
Per discussion on #37 and offline, let's use the following 3 namespaces:
* If the dataset was generated via Scaper, directly return the `scaper` JAMS object (i.e. namespace = `scaper`), otherwise:
* For tags, namespace = `tag_open`
* For events, namespace = `segment_open`

In the future we may want to contribute dedicated namespaces to jams, but for now let's go with Occam's razor :)

[2021-03-25 17:02] #33 closed, assigned to pzinemanas

[2021-03-25 18:05] pzinemanas opened #44 "Adding loader for DCASE 2020 Task 2 dataset"
[Development](https://zenodo.org/record/3678171), [Additional training](https://zenodo.org/record/3727685) and [Evaluation](https://zenodo.org/record/3841772) datasets for [DCASE 2020 Task 2](http://dcase.community/challenge2020/task-unsupervised-detection-of-anomalous-sounds).

[2021-03-29 00:20] magdalenafuentes commented on #7
Closed via #43

[2021-03-29 00:20] #7 closed, assigned to nobody

[2021-03-29 01:56] magdalenafuentes commented on #31
@justinsalamon @mcartwright I drafted an idea in #46 for you to take a look. Let me know what do you think!

[2021-03-29 17:24] mrocamora opened #47 "Adding loader for MAVD dataset"
Adding loader for [MAVD-traffic dataset](https://zenodo.org/record/3338727#.YGIMyBIyFhE)

[2021-03-29 17:33] justinsalamon commented on #31
@magdalenafuentes looks great, I suggest we use `MultiAnnotation` as the class name, but otherwise lgtm!

[2021-03-29 17:39] magdalenafuentes opened #48 "Remove pretty_midi from setup"
Good catch @mrocamora. It was inherited from `mirdata`, it shouldn't be there.

[2021-03-29 19:17] #38 closed, assigned to pzinemanas

[2021-03-29 20:11] #31 closed, assigned to nobody

[2021-03-29 20:11] #48 closed, assigned to nobody

[2021-03-30 13:32] magdalenafuentes commented on #11
Should be addressed by #26

[2021-04-04 08:24] lostanlen opened #51 "Two valid copies of the same dataset don't necessarily contain the same audio"
Consider the following script:

[code]

For reasons of experimental reproducibility, i would expect the above script to
(1) execute without error (assuming the dataset validates)
(2) print `True` on every execution of the script
(3) print `True` on every machine

Unfortunately, none of these three useful properties are guaranteed. Because the `data_home` folder (here, implicitly passed to `Dataset

[2021-04-12 02:36] justinsalamon commented on #51
Thanks for the detailed report @lostanlen !

Let's start with the jams converter - IIUC the issue is that if you were to execute the example script you have provided in concurrent threads, one thread may overwrite the data in the download folder already written by another thread, such that the audio path changes, and since the path is documented in the jams object, jams1 and jams2 end up not being

[2021-04-12 08:11] lostanlen commented on #51
You're right. The most likely multi-threaded scenario i imagine would be to run soundata in interactive mode:
[code]
The `print` statement above may return `False` even though the `example_clip` object is unchanged.
Note that the part within comments (`# switch to a different application ... `) may in fact result of the action of a different user of the computer (or high-performance computing faci

[2021-04-12 14:43] justinsalamon commented on #51
Thanks @lostanlen , that definitely helps me understand the scenario.

It sounds to me (and please correct me if i'm wrong) that there is a tradeoff here: the safest option would be to always validate-on-load all assets whether they be audio, jams, or other forms of metadata. The down-side is that this would significantly slow down execution as we'd have to recompute the md5 hash of every file whe

[2021-04-12 14:46] justinsalamon commented on #51
p.s.

I never had any doubt that your only goal is to help make `soundata` better 😃🙏

[2021-04-12 15:16] lostanlen commented on #51
yes, i think that a validate-on-load procedure would be great. It can take the form of a kwarg during `initialize` or it could be a custom `with` statement, like so:

[code]

In this way, users only pay for what they use. If they only use a fraction of the dataset, it's not necessary to validate unused clips.

You're right. Validating every time would definitely be overkill.

A way to mitigate tha

[2021-04-16 00:13] magdalenafuentes opened #52 "Adding TAU Urban Acoustic Scenes 2021"
[Developement](https://zenodo.org/record/4477542#.YHjKqKlKjMI)

[2021-04-22 08:35] #41 closed, assigned to pzinemanas

[2021-04-27 17:02] magdalenafuentes commented on #22
After a conversation offline with @pzinemanas we think that it would be great to have a couple things at the dataset level:

1. Access to splits if there are any. This could be a `dataset.get_splits()` function that returns a dictionary in the form `{"train":[ clip_ids], ...}`
2. Access to the overall annotations in the dataset. This could be a `dataset.unique_annotations()` that returns for insta

[2021-04-27 22:41] justinsalamon commented on #22
Thanks @magdalenafuentes @pzinemanas. Questions:

1. Yes, this would be great. My question is how do we handle splits vs folds? i.e. some datasets have train/valiate/test/ splits, while others (such as US8K) have N folds which are designed for n-fold cross validation. I see 2 options: (a) we stick to `get_splits` regardless of whether the dataset has splits or folds, and just return `{"fold1": [..

[2021-04-28 13:56] magdalenafuentes commented on #22
1. I'm a bit more inclined to have a unique function and change the dictionary keys depending if it's `split` or `fold`. Maybe we can call it something more general (though can't think of anything but `get_splits`)
2. This would just give you the annotations in the dataset, and a use case could be for example if you are working with multiple datasets and need to map the annotations to a common voc

[2021-05-01 20:16] justinsalamon commented on #22
1. Yes I agree. Maybe it's fine to use `get_splits()` as the function name and then return the splits/folds following whatever naming convention the dataset creators used? (e.g. some datasets may even use "development" and "evaluation")
2. Is this not possible now? If so, why not? I'm trying to understand the problem :)
3. :)

[2021-05-04 12:58] magdalenafuentes commented on #10
Coming back to this, I tried it in different machines and sometimes it works and sometimes it doesn't. Also a colleague of mine told me for him it wasn't working as it is, but `".[tests]"` did

[2021-05-05 00:25] iranroman opened #55 "[fsd50k] make handling of multipart zip work across unix systems"
The `zip` subprocess in `soundata/datasets/fsd50k.py` uses the syntax of the zip utility found in MacOS. As a result, the tests fail in other unix systems (i.e. Ubuntu, Archlinux). See the issue in [https://unix.stackexchange.com/questions/40480/how-to-unzip-a-multipart-spanned-zip-on-linux](https://unix.stackexchange.com/questions/40480/how-to-unzip-a-multipart-spanned-zip-on-linux)

Ideal soluti

[2021-05-06 21:43] justinsalamon commented on #10
Any luck identifying the source of error?

[2021-05-06 21:45] justinsalamon commented on #55
@genisplaja we could look at using: https://docs.python.org/3/library/zipfile.html#module-zipfile

[2021-05-17 15:36] genisplaja commented on #55
Hello! Thanks @iranroman for raising the issue and @justinsalamon for the suggestion. I have been experimenting with `zipfile` quite a bit and it doesn't look like there is a workaround for the necessary commands to merge the FSD50K zip splits. I've got in touch with E. Fonseca and he successfully tested the commands in an Ubuntu machine. Now @magdalenafuentes is also testing it!
Even though I und

[2021-05-18 05:27] iranroman commented on #55
Hello all, Thanks for your attention to this issue. Perhaps just use `DOWNLOAD_INFO` in `fsd50k.py` to describe the nature of the zip files, so that users can merge the files as they prefer and better fits their OS?

[2021-05-18 22:48] iranroman opened #56 "scripts/print_track_docstring.py does not exist"
The file `scripts/print_track_docstring.py` is not present and is referenced in the contributing guidelines.

Solution: include the file or revise guidelines to not reference it.

[2021-05-19 14:57] genisplaja commented on #55
So we would throw the `DOWNLOAD_INFO` message and we would download the files automatically without merging? Maybe we could also have a `_download()` and a `_download_merge_unzip()` so users can chose whether they merge the files at convencience or they try to do it automatically with the function provided by us. But I don't know if that complicates things a bit...!

[2021-05-19 17:58] iranroman opened #57 "Adding TAU NIGENS SSE 2021"
I'm working on adding the TAU NIGENS SSE 2021 dataset (DCASE Task 3 2021).

The data consists of 1-min recordings with spatial events and annotations in a csv file. The annotations have these columns for each event

`time-frame number`, `active class index`, `event number index`, `azimuth`, and `elevation` (all integers)

* `time-frame` is a timestamp
* `active class index` is the class ID of the

[2021-05-19 19:07] magdalenafuentes commented on #57
Thanks for this @iranroman!

We discussed this offline a bit and I agree that a new `annotation type` might be needed. Gonna drop an issue about that specifically

[2021-05-19 19:18] iranroman commented on #57
I think what we need is a `SpatialEvents` class that accounts for `azimuth`, `elevation`, and `distance` of events. This would be a simple `Events` class spinoff.

[code]

For the specific case of TAU NIGENS 2020 and 2021, those dataset modules can define their own `IndexedSpatialEvents` class that inherits from the `SpatialEvents` class and accounts for the `event number index`, which I'm not sur

[2021-05-19 19:30] magdalenafuentes opened #58 "New Annotation type with Spatial labels"
As @ iranroman pointed out in #57, some spatial audio datasets have data in the format:

`time-frame number`, `active class index`, `event number index`, `azimuth`, and `elevation`

* `time-frame` is a timestamp
* `active class index` is the class ID of the event
* `event number index` is a sequence of increasing integers to indicate the order of the events and avoid confusion between overlapping

[2021-05-19 20:03] magdalenafuentes commented on #58
Moving the conversation here, adding @iranroman 's comment here:

"I think what we need is a `SpatialEvents` class that accounts for `azimuth`, `elevation`, and `distance` of events. This would be a simple `Events` class spinoff.

[code]

For the specific case of TAU NIGENS 2020 and 2021, those dataset modules can define their own `IndexedSpatialEvents` class that inherits from the `SpatialEvents`

[2021-05-19 20:05] magdalenafuentes commented on #58
@iranroman I like your proposal, seems general enough. I imagine that for the class to be general enough maybe we want to have `azimuth` and `elevation` as optional as well, and then enforce that the class has at least one of `azimuth`, `distance` or `elevation`. What do you think?

[2021-05-19 20:08] magdalenafuentes commented on #58
What do they use in Task 3 to evaluate the models do you know? @iranroman? I think that ideally we want `soundata` to load things in memory in a way that they are compatible with e.g. `sed_eval` directly

[2021-05-19 20:27] iranroman commented on #58
@magdalenafuentes it is true that out of the three position (azimuth, elevation, distance) only one is required. Some datasets only explore one or two of these dimensions for localization.

 _think that to get the intervals down you'd have to look at event number index and keep track of when a class appears and goes away, does it make sense?_

This is also true. But for the DCASE datasets I will h

[2021-05-20 00:47] iranroman commented on #58
I studied the `seld-dcase2021` code to understand how they process the annotations. They convert the csv values into a dictionary where the `time-frames` are the keys, and the values are a list with the class category, coordinates and `event number index`.

https://github.com/sharathadavanne/seld-dcase2021/blob/b279508ff4752f25cd006d503d78da519c86764e/cls_feature_class.py#L270-L291

Then they use

[2021-05-21 15:21] magdalenafuentes commented on #58
Hey @iranroman thanks a lot for taking a look at that! The discussion about `SpatialEvents` is making me think of adding a few extensions to the annotation types that were introduced recently in `mirdata` and make sense here as well:

1. _**Annotation units**_: If we want to be "general enough" with annotations such as `azimuth`, `elevation` or `distance`, I'm starting to feel that we should inclu

[2021-05-21 19:06] iranroman commented on #58
I agree! These two points would be very useful for microphone array datasets in general. We can include them. I'll be happy to write them. What does @justinsalamon (and others) think?

[2021-05-24 18:18] justinsalamon commented on #56
Thanks @iranroman - the contributing guidelines have not been updated yet for `soundata` - please hang tight, we're hoping to get them up to seed real soon

cc @magdalenafuentes

[2021-05-24 18:21] justinsalamon commented on #57
Sorry I'm late to the discussion, I'll look for the other thread @magdalenafuentes created.

My 2c is that we should think hard before adding a new annotation type - could this be folded into the existing events, for example? Let's discuss here: #58

[2021-05-24 18:25] justinsalamon commented on #58
Hey, just catching up now.

My first question is whether it makes sense to create a new annotation type over expanding the existing `Event` type. For example, the spatial fields could be added to the event type as optional fields, such that it works as it does now for non-spatial events but can also support spatial events.

What are the arguments in favor of creating a new type of expanding the ex

[2021-05-25 14:55] magdalenafuentes commented on #32
Closed via #36

[2021-05-25 14:55] #32 closed, assigned to genisplaja

[2021-05-25 14:56] magdalenafuentes commented on #40
@justinsalamon should we include this in the `Release 0.1.0` milestone?

[2021-05-25 15:13] magdalenafuentes opened #60 "Adding multiple version support for datasets"
Implement index support for different versions of the same dataset

[2021-05-25 19:33] justinsalamon commented on #40
I think it would be really great to have it included, since then we have at least 1 speech dataset in our first release and that can really help drive adoption in the speech community.

I'm just not sure I'll have the cycles to execute 😓

If anyone else wants/can take it on please do! Otherwise @magdalenafuentes perhaps we can label it as a stretch goal so that we aim to include it in 0.1.0 but we

[2021-05-26 05:39] iranroman commented on #58
I agree that expanding the existing `Event` type should be good enough. Is there a way for us to make the Event type flexible enough to have it include ANY information that comes with the dataset? Right now we are talking about adding the spatial coordinate information to the event, but maybe there'll be the need for more flexibility down the road as we add more datasets.

Alternatively, maybe `Ev

[2021-05-26 22:49] justinsalamon commented on #58
Thanks @iranroman. I like @magdalenafuentes 's idea of using `Events` as a parent class - this way you can add the functionality you need without having to reimplement/duplicate all the functionality that Event already provides. This minimizes technical debt (no need for duplicate tests or maintenance) and helps us keep the API clean (everything that works for an `Event` will work for your inherit

[2021-05-26 23:57] iranroman commented on #58
I agree. Just to confirm, you are saying that each "spatial" dataset loader will independently define this `SpatialEvents` class inheriting from `Events`, and will adjust it according to what its needs, right?

[2021-05-27 00:03] magdalenafuentes commented on #58
Hi both, I'm in sync with the suggestion of a child class `SpatialEvent` that inherits from `Event`. However, I think we should implement it in `annotations.py` because it would be used in many datasets, not only the ones that @iranroman is planning to add but also @nkundiushuti might add some others in the future.

Also I think it will simplify code, i.e. avoid to have that class implementation m

[2021-05-27 04:35] justinsalamon commented on #58
sgtm @magdalenafuentes 👍

[2021-05-28 04:31] iranroman commented on #57
Hello again,

Thanks for your suggestions. I've been making significant progress on the loader. I have a question and want to hear your thoughts though.

The soundata `Events` class uses the start and end timestamps of the event to identify their location in time and duration. However, when it comes to the `TAU NIGENS SSE 2021` dataset, some events do not have such a clear-cut start and end. Let m

[2021-05-29 01:05] magdalenafuentes commented on #57
Hey @iranroman thanks for sharing this. I would say you can use the `start` and `end` of `Events`/`SpatialEvents` and clarify in the dataset description that this happens for some annotations. The philosophy we try to always stick to is to not make any modification to the dataset. So in this case, IIUC, a user that's trying to evaluate a model with the `timestamps` in the annotations would run in

[2021-05-29 03:18] iranroman commented on #57
Hello @magdalenafuentes. Thanks for your thoughts.

This dataset has timestamps for each 100ms of data, so it does not just have a `[start_time, end_time]` for a given event.

I have implemented my idea of including `silent_times` from each event. To clarify, these `silent times` are part of the annotations. Maybe the way I explained it implied that I was processing the data to identify these `sil

[2021-05-31 15:26] justinsalamon commented on #57
Nice progress @iranroman!

@iranroman @magdalenafuentes excuse typos, writing on mobile.

IIUC the events are annotated as time series of active/silent with a 100ms hop size. Is that correct?

We are already supporting time series in SpatialEvents via the arrays of eg azimuth, so I guess this would be one more. That said, this one is about activation which is more general to events and we might wa

[2021-05-31 18:36] iranroman commented on #57
That is correct. In the original dataset annotations, the following are indicated every 100ms (so converter functions will not be needed if we keep all information from the original data):

* whether a specific sound source is active
* Its azimuth
* Its elevation

Please refer to this link if you want to see how the annotations work and look like in the original dataset: http://dcase.community/cha

[2021-05-31 19:05] iranroman commented on #58
Given everything we have discussed, I believe that `SoundEvents` should have the following arguments:

[code]

Let's please come to an agreement soon. I want to add three DCASE dataset with this structure as soon as possible to start working with these loaders myself.

[2021-06-01 10:17] magdalenafuentes commented on #57
@justinsalamon I have a few naive questions: what's the difference between having an `activation` field or having the source appearing and disappearing using `intervals`? Is it because is always the same source and using `intervals` doesn't make it explicit, e.g. it could be different sources appearing and reappearing? Does `activation` truly solve this?

[2021-06-01 18:49] iranroman commented on #58
`position` will need to de 3D, actually, because position information may also include distance (or radius). Therefore:
[code]
What do you think @magdalenafuentes and @justinsalamon? Please also see my previous comment.

[2021-06-04 20:16] iranroman commented on #55
I have implemented handling of multipart zip files in #62 . This handles download, merging, and unzipping of multipart zip files in `download_utils.py`.

The way it works is allowing `REMOTES` keys to have a list of `download_utils.RemoteFileMetadata`. If a `list`, then it is a multipart zip file and it is merged and unzipped as such.

This resulted in removal of three `fsd50` tests related to dow

[2021-09-16 17:21] magdalenafuentes opened #65 "Handling None in annotations"
We should to include the flag `allow_none` to the `Tags` class at least.

[2021-09-16 17:22] magdalenafuentes commented on #65
After that is done we can remove the patch in tags in #63

[2021-09-16 21:05] magdalenafuentes opened #66 "Add download_info() that gives REMOTES info"
So users can know what's available to download before downloading it

[2021-09-25 16:55] iranroman commented on #58
Reviving this conversation as I am working on loaders with `SpatialEvents`. I have one question: is there a way to expand the `JAMS` format to account for spatial sound events? I have heard from DCASE community members things along the lines of:

Please let me know your thoughts. Thanks!

[2021-09-28 13:52] magdalenafuentes commented on #58
Hi @iranroman

Thanks for reviving this and bringing up the standardization issue with spatial annotations. I think we could take this as an attempt to standardize this annotations, and draft the structure and consistency checks to then move that to `JAMS`? ccing @justinsalamon @bmcfee to share their thoughts, and maybe we should involve other people from the DCASE community?

[2021-09-28 16:17] bmcfee commented on #58
Sigh -- yeah, we really need to get on with the upgrades to JAMS.  I just haven't had the time or capacity to run that show lately.  We do have some fairly concrete plans that would make this sort of thing possible though.

[2021-10-08 16:48] lostanlen opened #68 "Compatibility with Audubon Core term list"
For reasons of compatibility, it would be very useful to make soundata interoperable with Audubon Core:
https://ac.tdwg.org/termlist/#711-region-of-interest-vocabulary

[2021-10-13 22:01] magdalenafuentes commented on #11
Also should we recommend a version? it seems that different versions give different results and the tests break because of it

[2021-10-14 21:32] magdalenafuentes opened #72 "Complete documentation of properties in many loaders"
Otherwise the `__repr__` function of `Clip` doesn't look nice

[2021-10-15 21:51] magdalenafuentes commented on #60
https://github.com/mir-dataset-loaders/mirdata/pull/496/files

[2021-10-21 16:06] iranroman opened #75 "annotations.validate_lengths_equal only checks lenght of first two elements in array_list"
The way it is currently written only checks that the lengths of the first two elements in `array_list` are the same. Passing more than 3 or more elements in `array_list` results in only checking that the lengths of the first two elements are consistent and ignoring elements in the 3rth or greater position. This could be solved by rewriting `annotations.validate_lengths_equal` to use recursion.

[2021-10-21 17:37] magdalenafuentes commented on #75
True! Wanna open a PR to make it recursive? :)

[2021-10-27 15:12] #35 closed, assigned to nobody

[2021-10-29 19:39] magdalenafuentes commented on #72
Addressed in #26

[2021-10-29 19:39] #72 closed, assigned to nobody

[2021-10-29 19:40] magdalenafuentes commented on #56
Addressed in #26

[2021-10-29 19:40] #56 closed, assigned to nobody

[2021-10-29 19:41] magdalenafuentes commented on #55
Addressed by #62

[2021-10-29 19:41] #55 closed, assigned to nobody

[2021-10-29 19:42] magdalenafuentes commented on #27
Done in #26

[2021-10-29 19:42] #27 closed, assigned to nobody

[2021-10-29 19:42] magdalenafuentes commented on #11
Done in #26

[2021-10-29 19:42] #11 closed, assigned to nobody

[2021-10-29 19:43] #10 closed, assigned to nobody

[2021-10-29 19:43] #1 closed, assigned to nobody

[2021-10-29 20:04] jtcramer opened #79 "Add dataset sizes (in GB) in documentation"
It would be helpful to have an idea of how much disk space you need for the datasets if space is an issue

[2021-10-29 20:05] jtcramer opened #80 "Add links to dataset websites to documentation"
So it's easier for people to find out more about the datasets from the docs

[2021-10-29 20:34] magdalenafuentes commented on #79
Very true! thanks for the suggestion!

[2021-11-03 10:21] lostanlen commented on #51
With all due respect, @magdalenafuentes, i think that this is more than an `enhancement` issue.

The `0.1.0` version of soundata, announced today, advertises that

I think that the claim above is exaggerated, for the reasons i listed above. I'm afraid that this might give people a feeling of false security: i.e., interpret the advert above as "validate once and worry no longer".

Yet, as of v0.1.0

[2021-11-03 19:39] magdalenafuentes commented on #51
Hey @lostanlen, thanks for bringing up this issue again. I think you're right, and sorry if it looked like we were undervaluing the problem. We have discussed recently with @rabitt what would be the best way to address this and what is exactly that we want and can do about it.

My understanding is that the main issue right now is that `validate` is simply a tool to check data consistency at the da

[2021-11-08 03:10] jtcramer opened #85 "Allow user to set download timeout"
Downloads fail when the network connection is interrupted, resulting in a `ContentTooShortError: <urlopen error retrieval incomplete: got only X out of Y bytes>`. It would be helpful for the user to increase the timeout when calling `dataset.download()` so the download is more robust to network interruptions. As an alternative, you could mention in the docs that the user can control the timeout us

[2021-11-10 22:46] magdalenafuentes opened #87 "Confidence test not catching nan values"
I just noticed that because of #86, we should look into it

[2021-11-17 20:31] sripathisridhar opened #88 "Documentation error for ESC-50"
Currently, the documentation for the ESC-50 data loader is a copy of the UrbanSound8k dataset documentation

[2021-11-17 20:53] magdalenafuentes commented on #88
Good catch @sripathisridhar

@justinsalamon may wanna take a look?

[2021-11-18 09:58] kwatcharasupat opened #89 "`jams_utils.jams_converter` does not support `MultiAnnotator`."
The current version of `jams_utils.jams_converter` does not support `MultiAnnotator`. Using `MultiAnnotator` will result in `TypeError`. I have implemented a quick fix for SINGA:PURA in #86 but only for `annotations.Events`. Perhaps there should be a more unified support for any `annotations.Annotation` subclass.

[2021-11-18 10:35] kwatcharasupat commented on #89
Added PR #90 to fix this issue.

[2021-11-20 01:01] #89 closed, assigned to nobody

[2021-11-29 16:04] jtcramer opened #93 "Adding FUSS dataset"
https://zenodo.org/record/3694384

[2021-12-07 20:58] justinsalamon opened #95 "PyTorch and TensorFlow wrappers"
For training, users will likely want to use PT or TF data generators. Right now it's fairly easy to create such a wrapper on top of a soundata dataset, but I wonder whether we want to support this more explicitly?

This could be in the form of either (1) built-in wrappers (with optional imports of PT and TF to try and keep dependencies light), or (2) in the form of ample examples in the docs witho

[2021-12-13 11:11] kwatcharasupat opened #96 "Documentation link not updated to v0.1.1"
The default documentation link at https://soundata.readthedocs.io/en/latest is still at v0.1.0.

(The stable build docs https://soundata.readthedocs.io/en/stable is up to date at v0.1.1)

[2021-12-13 11:12] kwatcharasupat commented on #87
@magdalenafuentes do you want to close this issue since #91 is merged?

[2021-12-16 09:58] nkundiushuti opened #97 "possible module missing in the requirements?"
I installed soundata with pip and when initializing a dataset, I get this error. It is solved by installing typing_extensions with pip.

~/miniconda3/envs/mirdata/lib/python3.7/site-packages/soundata/jams_utils.py in <module>
      4 import os
      5 from typing import Callable, List
----> 6 from typing_extensions import ParamSpecKwargs
      7
      8 import jams

ModuleNotFoundError: No module

[2022-03-31 14:38] iranroman opened #98 "Eigenscape Park 6 and 8 recordings are not really B-format"
As indicated in the [micarraylib](https://github.com/micarraylib/micarraylib) issue [#8](https://github.com/micarraylib/micarraylib/issues/8) and acknowledged by @marc1701 , the author of the dataset.

Eigenscape Park 6 and 8 recordings are not really B-format.

This issue has been addressed this week by @marc1701, with a new version of the dataset on the [official Zenodo page](https://zenodo.org/

[2022-03-31 14:40] iranroman commented on #98
@sakshamsingh1, can you please carry out action items 1 and 2? I'll work on action item 3.

[2022-03-31 22:52] sakshamsingh1 commented on #98
Hi @iranroman, I was able to verify item 1 i.e. Park.6 and Park.8 have 25 channels alike other files in Park.zip.
Code :
[code]

Output :
[code]

[2022-04-08 19:52] Sakshat234 opened #101 "Installation instructions test not working"
Hi,
I am working on finishing the `mavd` loader and when trying to setup the new environment and installing dependencies,
I ran:
[code]
I get the error:
[code]
I got it running by adding `."[tests]"`

Same thing happens with
[code]
I am using python v 3.8
MacOS 12.1 Monterey

[2022-04-18 15:24] iranroman commented on #98
Hello all. @marc1701 (EigenScape author) has confirmed that the Park6 and Park8 files were accidentally swapped  between raw and B formats. So I'll go ahead and swap the urls for these files in the loaders for the `Park` recordings between these loaders. That should get us a quick and dirty "engineered" solution. For more details about why this is the best solution, see [`micarraylib` issue #8](ht

[2022-04-19 01:18] iranroman commented on #101
Same here.

[2022-04-28 08:40] pzinemanas opened #103 "Singapura's Clip.town returns sensor_id"
Hi all!

The `town` property of Singapura's Clip is returning the `sensor_id` instead ([see](https://github.com/soundata/soundata/blob/main/soundata/datasets/singapura.py#L259)). This should be very easy to fix:

[code]

However, I wonder how it passed the `test_clip` test since it is supposedly checking town property.

[2022-05-10 08:24] kwatcharasupat commented on #103
Hi, @pzinemanas. Thanks for raising this up! I will take a look at it and send in a PR to fix this.

Edit: Interestingly, this bug wasn't caught in the test, even though we wrote an attribute check for it.
https://github.com/soundata/soundata/blob/0659f7d95f84d7a9049af0238aba3d12d4f1d867/tests/datasets/test_singapura.py#L11-L49

cc: @magdalenafuentes, @bhanlam, @kenowr

[2022-05-10 08:59] kwatcharasupat commented on #103
I did some digging and found the culprit. Essentially, the if/elif clause as is will cause the expected values in `expected_attributes` to be ignored if the attribute key is already present in `expected_property_types`.

https://github.com/soundata/soundata/blob/0659f7d95f84d7a9049af0238aba3d12d4f1d867/tests/test_utils.py#L26-L29

I will raise a PR to fix this as well.

[2022-05-10 09:08] kwatcharasupat commented on #96
Bumping this as it is not fixed as of v0.1.2.

[2022-06-27 20:00] jtcramer opened #106 ""miliseconds" typo"
Noticed a small typo I've found in the definitions of `TIME_UNITS`: "miliseconds" should be "milliseconds"

[2022-07-08 21:02] jtcramer opened #107 ""latest" API docs appear to be outdated"
The [stable docs](https://soundata.readthedocs.io/en/stable/source/quick_reference.html) appear to have all of the datasets in the repo, but the [latest ](https://soundata.readthedocs.io/en/latest/source/quick_reference.html) seem to be missing some of those datasets for some reason.

[2022-08-12 14:19] jtcramer opened #108 "Update STARSS22 remotes/index to include eval set"
@iranroman Since STARSS22 was added to Soundata, the DCASE 2022 Challenges ended and the evaluation datasets have been released, and can now be added to the dataset REMOTES and index file